*{
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: hsla(210, 79%, 31%, 1);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    overflow-x: hidden;
}

#elijah_standing{
    background-color: blanchedalmond;
    width: 50%;
    height: 90vh;
    top: 0vh;
    transition: all 2s ease-out;
}

#me_image{
    height: 80%;
    width: 80%;
    position: absolute;
    right: 10%;
    border-radius: 30px 60px;
    top: 10%;
    background-color:rgb(229, 169, 79);
}

#nav_bar{
    position: fixed;
    width: 100%;
    height: 10vh;
    background-color: blueviolet;
    top: 0px;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav_button{
    padding: 1em;
    border-radius: 10em;
    height: 3em;
    width: 10em;
    transition: width 1s ease-in-out;
}

.nav_button.bubble{
    width: 3em;
    height: 3em;
}

.nav_button:hover{
    background-color: darkgray;
}

#welcome_splash{
    width: 100%;
    height: 90vh;
    top: 10vh;
    background-color: crimson;
    position: relative;
}

#about_me{
    width: 50%;
    height: 90vh;
    top: 10vh;
    background-color: chartreuse;
    /* position: relative; */
}

#past_projects{
    width: 100%;
    height: 90vh;
    top: 10vh;
    background-color: cyan;
    position: relative;
    order: 2;
}

#contact{
    width: 100vw;
    height: 90vh;
    top: 10vh;
    background-color: green;
    position: relative;
    order: 3;
}

.content-div{
    transition: all 2s ease-out ;
}

.left.move{
    transform: translateX(0%);
}

.left{
    transform: translateX(-100%);
}

.right.move{
    transform: translateX(0%);
}

.right{
    transform: translateX(100%);
}


.slide-div{
    width: 100%;
    height: 90vh;
    top: 10vh;
    position: relative;
    display: flex;
}